name: Android CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Gradle cache
        uses: gradle/gradle-build-action@v3

      - name: Ensure Gradle wrapper is executable
        run: chmod +x ./gradlew

      - name: Gradle version
        run: ./gradlew --version

      - name: Assemble Debug
        run: ./gradlew clean assembleDebug

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: EncryptionChat-debug-apk-${{ github.run_number }}
          path: app/build/outputs/apk/debug/*.apk
          if-no-files-found: error

      - name: Upload reports
        uses: actions/upload-artifact@v4
        with:
          name: EncryptionChat-reports-${{ github.run_number }}
          path: app/build/reports/**
          if-no-files-found: warn
